{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2022,
		"ecmaFeatures": {
			"impliedStrict": true
		},
		"sourceType": "module"
	},
	"plugins": [
		"@typescript-eslint"
	],
	"env": {
		"es2022": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"rules": {
		// the rules below should be sorted in a same way they are sorted on http://eslint.org/docs/rules page
		// http://eslint.org/docs/rules/#possible-errors
		"for-direction": "error",
		"getter-return": ["error", {"allowImplicit": false}],
		"no-compare-neg-zero": "error",
		"no-cond-assign": "warn",
		"no-constant-condition": ["error", {"checkLoops": false}],
		"no-control-regex": "error",
		"no-dupe-keys": "warn",
		"no-duplicate-case": "warn",
		"no-empty": ["warn", {"allowEmptyCatch": true}],
		"no-empty-character-class": "warn",
		"no-ex-assign": "error",
		"no-extra-boolean-cast": "error",
		"no-extra-parens": ["error", "all"],
		"no-extra-semi": "error",
		"no-func-assign": "error",
		// ADD DEFAULT OPTIONS MARKER
		"no-invalid-regexp": "error",
		"no-regex-spaces": "warn",
		"no-unreachable": "warn",
		"no-unsafe-negation": "warn",
		"valid-typeof": "error",
		// http://eslint.org/docs/rules/#best-practices
		"curly": ["error", "all"],
		"dot-notation": "error",
		"guard-for-in": "warn",
		"no-alert": "warn",
		"no-caller": "error",
		"no-case-declarations": "warn",
		"no-empty-pattern": "warn",
		"no-eval": "error",
		"no-fallthrough": ["warn", {"commentPattern": "no break"}],
		"no-implied-eval": "error",
		"no-invalid-this": "warn",
		"no-iterator": "error",
		"no-loop-func": "warn",
		"no-multi-spaces": "error",
		"no-new": "error",
		"no-new-func": "error",
		"no-new-wrappers": "error",
		"no-proto": "error",
		"no-redeclare": "warn",
		"no-script-url": "error",
		"no-throw-literal": "warn",
		"no-useless-concat": "error",
		"no-useless-escape": "error",
		"no-useless-return": "error",
		"prefer-promise-reject-errors": "warn",
		"wrap-iife": ["error", "inside"],
		// http://eslint.org/docs/rules/#strict-mode
		"strict": "error",
		// http://eslint.org/docs/rules/#variables
		"no-delete-var": "error",
		"no-shadow": ["warn", {"allow": ["error"]}],
		"no-shadow-restricted-names": "error",
		"no-undef": "warn",
		"no-unused-vars": ["warn", {"vars": "all", "args": "none"}],
		"no-use-before-define": "off",
		// http://eslint.org/docs/rules/#nodejs-and-commonjs
		"no-new-require": "error",
		// http://eslint.org/docs/rules/#stylistic-issues
		"array-bracket-newline": "error",
		"array-bracket-spacing": "error",
		"block-spacing": "error",
		"brace-style": ["error", "1tbs", {"allowSingleLine": false}],
		"camelcase": ["warn", {"properties": "never"}],
		"comma-dangle": ["warn", {
			"arrays": "always-multiline",
			"objects": "always-multiline",
			"imports": "always-multiline",
			"exports": "always-multiline",
			"functions": "never"
		}],
		"comma-spacing": "error",
		"comma-style": ["error", "last"],
		"computed-property-spacing": "error",
		"eol-last": "error",
		"func-call-spacing": "error",
		"indent": ["error", "tab", {"SwitchCase": 1}],
		"key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
		"keyword-spacing": ["error", {"before": true, "after": true}],
		"new-cap": "warn",
		"new-parens": "error",
		"no-bitwise": "warn",
		// "no-lonely-if": "warn",
		"no-mixed-spaces-and-tabs": "warn",
		"no-multiple-empty-lines": ["warn", {"max": 1, "maxEOF": 1, "maxBOF": 0}],
		"no-new-object": "error",
		"no-trailing-spaces": ["error", {"skipBlankLines": true, "ignoreComments": true}],
		"object-curly-newline": ["warn", {"consistent": true}],
		"object-curly-spacing": ["warn", "never"],
		"quotes": ["warn", "single", {"avoidEscape": true}],
		// "semi": ["error", "always"],
		"semi": ["warn", "always"],
		"semi-spacing": ["error", {"before": false, "after": true}],
		"space-before-blocks": "error",
		"space-before-function-paren": ["error", {"anonymous": "always","named": "never","asyncArrow": "always"}],
		"space-in-parens": ["error", "never"],
		"spaced-comment": "error",
		"switch-colon-spacing": "error",
		// https://eslint.org/docs/rules/#ecmascript-6
		"arrow-body-style": ["warn", "always"],
		"arrow-parens": "error",
		"arrow-spacing": "error",
		"constructor-super": "error",
		"no-const-assign": "error",
		"no-this-before-super": "error",
		"no-var": "error",
		"prefer-arrow-callback": "warn",
		"prefer-template": "warn",
		"template-curly-spacing": ["error", "never"],
		"sort-imports": ["warn", {"ignoreCase": true, "ignoreDeclarationSort": true}],
		"prefer-const": ["warn"],
		"space-infix-ops": ["warn"]
	}
}